@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  /* background-color: #22AAA1; */
  /* background-color: #F4FF52; */
  /* background-color: #422040; */
  background-color: #2a2b38;
  /* overflow-x: hidden; */
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 200%;
}

a {
  cursor: pointer;
  transition: all 200ms linear;
  display: block;
}

a:hover {
  text-decoration: none;
}

.link {
  color: #c4c3ca;
}

.link:hover {
  color: #ffeba7;
}

p {
  font-weight: 500;
  font-size: 14px;
  /* line-height: 1.7; */
}

h4 {
  font-weight: 600;
  /* display: inline-block; */
}

section {
  height: 100vh;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#menu {
  display: flex;
  justify-content: flex-start;
  /* width: 100%; */
  border-radius: 6px 6px 0px 0px;
  overflow: hidden;
  align-self: flex-start;
  border-color: white;
  border-width: 3px 3px 0px 3px;
  border-style: solid;
  cursor: pointer;
}

#signupBtn{
  background-color: #2a2b38;
  filter: blur(2px); /* Set the initial blur value to 0 */
  transition: filter 0.5s ease-out; /* Apply the transition effect */
}

.menuButton {
  font-weight: 600;
  font-size: 20px;
  background-color: #1C0D1B;
  margin: 0px;
  display: inline-block;
  padding: 2px 15px;
  text-align: center;
  transform: scale(1); /* Set the initial scale value to 1 */
  transform-origin: 0 0;
  filter: blur(0); /* Set the initial blur value to 0 */
  transition: filter 0.5s ease-out; /* Apply the transition effect */
  overflow: hidden;
}




.card-front,
.card-back {
  width: 440px;

  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.center-wrap {
  /* background-color: #2a2b38; */
  background-color: #1C0D1B;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  width: 100%;
  padding: 35px 35px;
  border-radius: 0px 6px 6px 6px;
  border: 3px white solid;

}

#signupBox{
  display: none;
}


.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
}

.btn:active,
.btn:focus {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.btn:hover {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}